<header>
  <nav aria-label="Primary" class="toolbar">
    <div class="content-left">
      <div class="img-wrap">
        <img width="100" alt="Bazar Logo" src="assets/images/logo.png" />
      </div>
      <div class="menu-items">
        <a routerLink="home">Home</a>
        <a routerLink="products">Products</a>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="content-right">
      <div class="content-top">
        <a routerLink="login">Login</a>
        <a routerLink="register">Register</a>
      </div>
      <div class="content-bottom">
        <img width="25" alt="Cart Logo" src="assets/images/cart.svg" />
        <span class="cart-text"> {{ (cartData$ | async) }} items </span>
      </div>
    </div>
  </nav>
</header>
