header .toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  font-weight: 600;
  padding: 0 16px;

  a {
    margin: 5px;
  }

  .content-left {
    display: flex;

    img {
      margin: 0 16px;
    }

    .menu-items {
      display: flex;
      align-items: center;
    }
  }

  .spacer {
    flex: 1;
  }

  .content-right {
    display: flex;
    flex-direction: column;

    .content-top {
      display: flex;
    }

    .content-bottom {
      background-color: #e6e3e3ad;
      display: flex;
      justify-content: center;
      padding: 5px;

      &:hover {
        cursor: pointer;
      }

      img {
        margin: 0 5px;
      }

      .cart-text{
        color: #000000;
      }
    }
  }
}
