<div id="overlay">
  <div class="cart-summary">
    <span class="close" (click)="closeOverlay()">&times;</span>

    <table>
      <tr>
        <th>Sno</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total</th>
      </tr>
      <tr *ngFor="let item of (cartDetails$ | async);let i = index;">
        <td>{{ i+1 }}</td>
        <td>{{ item.name }}</td>
        <td><button (click)="addToCart(item);"> Add </button> <label> {{ item.quantity }} </label> <button
            (click)="removeFromCart(item)"> Remove </button></td>
        <td> Rs {{ item.price }}</td>
        <td> Rs {{ item.quantity * item.price }}</td>
      </tr>
      <tr>
        <td colspan="4"> Total</td>
        <td> Rs {{ cartTotal$ | async}}</td>
      </tr>

    </table>
    <!-- {{cartDetails$ | async | json }} -->
  </div>
</div>
