@import "~src/variables";

.sidebar-container {
  background-color: $background-grey;
  padding: 10px;
  height: 100%;

  .mobile-container {

    .item {
      display: flex;
      justify-content: space-between;
    }

    .mobile-control {
      display: inline;
      background-color: #f39191ad;
      color: $white;
      padding: 2px;
      margin-right: 10px;
      @include media($tablet){
        display: none;
      }
    }

  }

  .item {
    border-bottom: 0.5px rgb(167, 166, 166) solid;
    padding: 15px 0px 15px 30px;
    font-weight: 600;
    cursor: pointer;
    color: $link-text-color;
    
    &:hover {
      background-color: #6d6767ad;
      color: $white;
     }
  }


  .active {
    background-color: #b48b8bad;
    color: $white;
  }

  .expand {
    .item {
      display: flex;
    }
  }

  .collapse {
    .item {
      display: none;
        &:first-child {
          display: flex;
        }
        @include media($tablet){
          display: flex;
        }
    }
  }
}
