.sidebar-container {

  .item-container {

    .active {
        background-color: green;
    }

    .item {
      background-color: rgb(65, 65, 253);

      :hover {
        background-color: rgb(43, 43, 173);
      }
    }
  }

}
